.DS_Store
*.cmi
*.cmo
*.cmx
*.o
*.so
*.suo
.vscode/
Haskell/dist
Haskell/dist-newstyle
C#/DotNet/bin
C#/DotNet/obj
F#/DotNet/bin
F#/DotNet/obj
F#/Start.exe
OCaml/main
Scala/Project/target
Clojure/target
C/greedy
C++/greedy
C++/greedymap
Java/*.class
Rust/target
Rust-Optimised/target
Rust-Concurrent/target
Go/Go
Go-Concurrent/Concurrent
target/
D/greedy
Crystal/greedy
Crystal/greedy-concurrent
CommonLisp/greedy.bin
Java/greedy
Kotlin/*.class
Kotlin/*.jar
Kotlin/program.kexe
Timings/
Python/*.c
Fortran/a.out
Proprietary/Monkey-X/greedy.buildv1.1.15/
Proprietary/BlitzMax/.bmx/
