.DS_Store
*.cmi
*.cmo
*.cmx
*.o
*.so
*.suo
Haskell/dist
C#/bin
C#/obj
C#/Dotnet/bin
C#/Dotnet/obj
C#/.vs
C#/Program.exe
F#/.vs
F#/bin
F#/obj
F#/Dotnet/bin
F#/Dotnet/obj
F#/Start.exe
OCaml/main
Scala/Project/target
Clojure/target
C++/greedy
C++/greedymap
Java/*.class
Rust/Greedy
Go/Go
target/
D/greedy
