.DS_Store
*.cmi
*.cmo
*.cmx
*.o
*.so
*.suo
Haskell/dist
C#/DotNet/bin/
C#/DotNet/obj/
F#/DotNet/bin
F#/DotNet/obj
F#/Start.exe
OCaml/main
Scala/Project/target
Clojure/target
C++/greedy
C++/greedymap
Java/*.class
Rust/target
Go/Go
target/
D/greedy
